<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XSD" value ="c:\temp\SQ7MRU.xsd"/>
    <add key="XSLT" value="c:\temp\SQ7MRU.xslt" />
    <add key="BackGround" value ="c:\temp\SQ7MRU.jpg"/>
    <add key="TempXML" value="c:\temp\SQ7MRU.xml"/>
    <add key="TempXSLFO" value="c:\temp\SQ7MRU.fo"/>
    <add key="TempPDF" value ="c:\temp\SQ7MRU.pdf"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>